<html>
	<%- include('./Partials/Header'); -%>
	<body>
		<div id="join-box">
			<input type="text" placeholder="Gameroom Code"/>
			<input type="text" placeholder="Username"/>
			<button>Join Game</button>
		</div>
		<div id="create-box">
			<button>Create Game</button>
		</div>
	</body>
	<%- include('./Partials/Footer'); -%>
</html>